    <button type="button" id="create-survey-button"><i class="fas fa-bullhorn"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <article id="create-survey-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Create a survey</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="survey-input-element">
            <label for="survey-title-input">Survey Title</label>
            <input type="text" id="survey-q1-input">
          </div>
        <div class="survey-input-element">
          <label for="survey-q1-input">Question 1</label>
          <input type="text" id="survey-q1-input">
          </div>
        </div>
        <div class="survey-input-element">
          <label for="survey-q2-input">Question 2</label>
          <input type="text" id="survey-q1-input">
          </div>
        </div>
        <div class="survey-input-element">
          <label for="survey-q3-input">Question 3</label>
          <input type="text" id="survey-q1-input">
        </div>
        </div>
        <div class="survey-input-element">
          <label for="survey-q4-input">Question 4</label>
          <input type="text" id="survey-q1-input">
        </div>
        </div>
        <div class="survey-input-element">
          <label for="survey-q5-input">Question 5</label>
            <input type="text" id="survey-q1-input">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Create survey</button>
        </div>

      </article>
    </div>