<body>
	{{>modal}}
</body>
<main class="survey-container">
	<article class="survey">
		{{#each surveys}}
			<div class="title-container">
				<h1>{{title}}</h1>
			</div>
			<div class="questions-container">
				{{questions.0.q}}
				{{questions.1.q}}
		</div>
		{{/each}}
	</article>
</main>
