
<main class="survey-container">
	<div class="title-container">
		<h1>{{title}}</h1>
	</div>
	<article class="survey">
		<div class="questions-container">
			{{#each questions}}
				{{>surveyQuestion}}
			{{/each}}
		</div>
	</article>
</main>
