<main class="survey-container">

	<article class="survey">

	        <div class="survey-title">
	          <p class="question-text">
	            SURVEY TITLE
	          </p>
	        </div>

        

	        <div class="survey-question">
	          <p class="question-text">
	            SURVEY QUESTION
	          </p>
	        </div>

	        <div class="survey-question">
	          <p class="question-text">
	            SURVEY QUESTION
	          </p>
	        </div>

  	</article>

</main>